html, body {
	width: 100%;
	height: 100%;
	margin: 0;
    padding: 0;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	background-color: #fcfcfc;
}
nav {
    letter-spacing: 2px;
    font-size: 12px;
}
footer {
    letter-spacing: 2px;
    font-size: 14px;
}
h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    z-index: 100;
    margin: 0;
    font-size: 20px;
}
p {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 2;
    margin: 50px 0;
}
a {
    text-decoration: none;
    color: black;
    position: relative;
}
a:hover {
    color: black;
    text-decoration: none;
}
/*navbar*/
.rubin {
    width: 30%;
}
/*highlight*/
.underline-highlight {
    padding: 0 5px;
    background-image: linear-gradient( transparent 0%, transparent calc(50% - 8px), rgba(232, 137, 69, 0.5) calc(50% - 8px), rgba(232, 137, 69, 0.5) 100% );
    transition: background-position 0.25s ease-in-out, padding 0.25s ease-in-out;
    background-size: 100% 260%;
    background-position: 0 0;
}
.underline-highlight:hover {
    padding: 2px 5px 4px 5px;
    background-image: linear-gradient( transparent 0%, transparent calc(50% - 8px), rgba(232, 137, 69, 0.7) calc(50% - 8px), rgba(232, 137, 69, 0.7) 100% );
    background-position: 0 100%;
}
@media (min-width: 992px) {
    .effect-underline:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -5px;
        left: 0;
        background-color: #000;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .effect-underline:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

.demo-site {
    font-size: 16px;
    transition: all 0.5s;
    display: inline-block;
    position: relative;
}
.demo-site:after {
    content: '➤';
    position: absolute;
    opacity: 0;  
    right: -20px;
    transition: 0.5s;
}
.demo-site:hover{
    padding-right: 40px;
}
.demo-site:hover:after {
    opacity: 1;
    right: 10px;
}
/*images*/
.main-image {
    width: 100%;
    margin-top: 80px;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
                0 2px 2px rgba(0,0,0,0.08), 
                0 4px 4px rgba(0,0,0,0.08), 
                0 8px 8px rgba(0,0,0,0.08),
                0 16px 16px rgba(0,0,0,0.08);
}
.img-fluid {
    border-radius: 6px;
    vertical-align: super;
}
.col-lg-4,
.col-md-12,
.col-xl-6,
.col-md-6 {
     padding: 0 10px;
}
.img-demo-site {
    width: 100%;
    padding: 45px 0;

}
.leaf-image {
    width: 14%;
}
/*Blog*/
.blog-image {
    object-fit: cover;
    width: 100%;
    height: 400px;
    border-radius: 6px;
    vertical-align: super;
    transition: box-shadow 0.4s ease-in-out, transform 0.2s ease;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
                0 2px 2px rgba(0,0,0,0.08), 
                0 4px 4px rgba(0,0,0,0.08), 
                0 8px 8px rgba(0,0,0,0.08),
                0 16px 16px rgba(0,0,0,0.08);
}
.blog-image:hover {
    transform: scale(1.01);
    box-shadow: 0 1px 1px rgba(0,0,0,0.09), 
                0 2px 2px rgba(0,0,0,0.09), 
                0 4px 4px rgba(0,0,0,0.09), 
                0 8px 8px rgba(0,0,0,0.09),
                0 16px 16px rgba(0,0,0,0.09);
}
.blog-description {
    font-size: 16px;
    font-weight: 200;
}
.blog-name {
    font-size: 12px;
    font-weight: 200;
}

/*About*/
.profile-img {
    width: 100%;
    height: auto;
}
.col-lg-6 {
    padding-right: 0;
    padding-left: 0;
}
.btn-icon {
    width: 40px;
    margin: 20px;
    opacity: 0.7;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-icon:hover {
    opacity: 1;
    transform: scale(1.3, 1.3);
}

/*footer*/
.logo {
    margin: 40px;
    width: 60px;
}

/*button*/
.fancy-button {
    display: inline-block;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    color: #fcfcfc;
    text-transform: uppercase;
    border-radius: 50px;
    box-shadow: 2px 4px 10px -5px rgb(179, 145, 95);
    background-color: #e88945;
    border-color: #e88945;
    transition: .4s ease;
}
.fancy-button:hover {
    background-color: #353535;
    border-color: #353535;
    color: #fcfcfc;
    box-shadow: 1px 5px 10px -3px rgb(53, 53, 53);
}


/*Table of Contents*/
.toc-container {
  display: grid;
  padding: 10px;
  grid-template-columns: 20% auto;
  grid-gap: 30px;
}
.toc {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: start;
  margin-top: 77px;
}
.toc > ul {
  padding: 0;
  list-style: none;
  margin-top: 40px;
  font-size: 14px;
  letter-spacing: 2px;
}
.toc a {
  display: block;
  padding: 6px 0;
  margin-top: 20px;
  margin-left: 26px;
  transition: background ease 0.2s, color ease 0.2s;
}
.is-active {
  border-left: 3px solid #e88945;
  margin-left: 30px;
}
.toc-photo-container {
    margin-right: 26%;
    max-width: 70%;
}
@media (max-width: 700px) {
    .toc ul {
        display: none;
    }
    .toc-container {
        display: block;
    }
    .toc-photo-container {
        margin-right: 0;
        max-width: 100%;
    }
    .rubin {
        width: 60%;
    }
    .leaf-image {
        display: none;
    }
}

