<!DOCTYPE html>
<html lang="en">
    <head>
    	<title>Contact</title>
    	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Sacramento&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/main.css" />
    </head>

    <body>
        <center>
            <div class="container">
                <a href="index.html" class="black-banner effect-underline" style="margin-top: 5vw">rubin design<br>
                    <span>web design & photography</span>
                </a>
                <br><br>
                <nav>
                    <a href="photography.html" style="margin: 1vw">PHOTOS</a>
                    <a href="index.html" style="margin: 1vw">HOME</a>
                    <a href="design.html" style="margin: 1vw">DESIGN</a>
                </nav>
                <br>
            </div>
            <img src="static/images/origamibird.jpg" class="header-image">
            <br><br><br><br>
            <div class="container">
                <h1>web design consultancy</h1>
                <br><br>
                <p style="display: block; max-width: 800px; margin: auto;">
                    Rubin Design offers a young, vibrant, and contemporary take on web design. Packages are all inclusive, saving you time and money. We provide web development (HTML/CSS/JS), graphic design, photography, and web hosting at competitive prices. Passionate about our work, we want to make sure every need of a project is met. Our goals are to insure client satisfaction and audience accessibility for our products on every device used by people of all abilities and disabilities. We care deeply about digital inclusion, which is why all our sites are fully responsive and easy to navigate. Our clients range from pro photographers and well-established music coaches, to successful cafe owners and adventure guides, and we hope to have the opportunity to work with you, too!
                </p>
                <br>
                <a href="https://calendly.com/rubindesign/30min" target="_blank" class="fancy-button">
                    &nbsp; WORK WITH US &nbsp; 
                </a>
                <br><br><br><br>
                <h1>photo gallery</h1>
                <br><br>                
                <div class="row">
                    <div class="col-md-4">
                        <div class="grid" style="display: block;">
                            <a href="photography.html#portraits">
                                <figure class="effect-bubba">
                                    <img src="static/images/portfolio-nina.jpg">
                                    <figcaption>
                                        <p>portraits</p>
                                    </figcaption> 
                                </figure>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="grid" style="display: block;">
                            <a href="photography.html#lifestyle">
                                <figure class="effect-bubba">
                                    <img src="static/images/portfolio-chinatown.jpg">
                                    <figcaption>
                                        <p>lifestyle</p>
                                    </figcaption> 
                                </figure>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="grid" style="display: block;">
                            <a href="photography.html#wildlife">
                                <figure class="effect-bubba">
                                    <img src="static/images/portfolio-monkey.jpg">
                                    <figcaption>
                                        <p>wildlife</p>
                                    </figcaption> 
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                <br><br>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="background-block">
                            <br><br>
                            <h1>about us</h1>
                            <br>
                            <img src="static/images/profile-gabrielle.jpg" class="profile-img">
                            <img src="static/images/profile-katinka.jpg" class="profile-img">
                            <br><br>
                            <div class="block-text">
                                We are Rubin Design &mdash; a mother-daughter duo from Denmark who now call Canada home. Our style is heavily influenced by the minimal and modern Scandinavian look, providing a simple user interface. Together we have over 30 years of experience in the commercial industry, with focus on photography and web design. Have a project in mind? Let's get in touch!
                            <br><br>
                            <div class="icon-center">
                                <a href="https://www.instagram.com/vanlife_medic/" target="_blank">
                                    <img src="static/images/icon-instagram.png" class="btn-icon"><br>INSTA
                                </a>
                            </div>
                            <div class="icon-center">
                                <a href="https://calendly.com/rubindesign/30min" target="_blank">
                                    <img src="static/images/icon-clock.png" class="btn-icon"><br>CALL
                                </a>
                            </div>
                            <div class="icon-center">
                                <a href="mailto:gabriellemichaud@icloud.com?Subject=Rubin%20Design" target="_blank">
                                    <img src="static/images/icon-email.png" class="btn-icon"><br>EMAIL
                                </a>
                            </div>
                            <br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>

            <footer>
                <nav>
                    <a href="photography.html" style="margin: 1vw">&nbsp;&nbsp;PHOTOS</a>
                    <a href="index.html" style="margin: 1vw">HOME</a>
                    <a href="contact.html" style="margin: 1vw">CONTACT</a>
                    <br>
                        <img src="static/images/camera.png" class="logo">
                    <br>
                    &mdash;&nbsp;Rubin Design © 2019&nbsp;&mdash;
                </nav>
                <br>
            </footer>
        </body>
    </center>
</html>