<!DOCTYPE html>
<html lang="en">
    <head>
    	<title>Portfolio</title>
        <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Sacramento&display=swap" rel="stylesheet">
    	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    	<link rel="stylesheet" type="text/css" href="static/css/main.css" />
    </head>

    <body>
        <div class="container">
            <center>
                <a href="index.html" class="black-banner effect-underline" style="margin-top: 5vw">
                    rubin web design<br>
                    <span>design & photography</span>
                </a>
                <br><br>
                <nav>
                    <a href="design.html" style="margin: 1vw; text-decoration: underline; text-underline-position: under;">DESIGN</a>
                    <a href="photography.html" style="margin: 1vw;">PHOTOS</a>
                    <a href="blog.html" style="margin: 1vw">BLOG</a>
                    <a href="contact.html" style="margin: 1vw">CONTACT</a>
                </nav>
                <br><br><br>
                <p style="display: block; max-width: 800px; margin: auto;">
                    We are a small Montreal-based firm specializing in making affordable and easy to use websites that present a fresh and contemporary image for local businesses and individuals. Initial consultations are free, and we provide transparent, affordable quotes for our full range of services, including web design, photography, graphic design, hosting, and more!
                </p>
                <img src="static/images/macbook-artscafe.png" class="mac-image">
                <h1>want to discuss a project?</h1>
                <br><br>
                <a href="mailto:gabriellemichaud@icloud.com?Subject=Rubin%20Design" target="_blank" class="fancy-button">
                    &nbsp; shoot us an email &nbsp;
                </a>
                <br><br>
                <hr>
                <br><br>
                <!-- <div style="position: relative;width: 100%; height: 900px">
                    <img src="static/images/imac.png" style="top: 0; margin: auto; z-index: 100; position: relative;" class="mac">
                    <video width="900" height="600" autoplay loop style="top: 30px; margin: auto; z-index: 50; position: relative;">
                        <source src="static/images/yan.webm" type="video/webm">
                        Your browser does not support the video tag.
                    </video>
                </div> -->
                <div style="max-width: 400px">
                    <img src="static/images/leaf-left.png" class="leaf-image" style="float: left;">
                    <h1 style="display: inline-block;">web design</h1>
                    <img src="static/images/leaf-right.png" class="leaf-image" style="float: right;">
                </div>
                <br><br>
                <p style="max-width: 800px; margin: auto;">
                    Our sites are handcrafted using HTML, CSS, and JavaScript, or built with a framework like Wordpress. This allows us to have full control over the design and features, providing you the unique website of your dreams. Here is a sample of some of our recent projects.
                </p>
                <br>
                <div class="slideshow-container">
                    <div class="mySlides">
                        <a href="https://vanlifemedic.com/" target="_blank">
                            <img src="static/images/pixelmac-vanlife.png" class="mac-image">
                        </a>
                    </div>

                    <div class="mySlides">
                        <img src="static/images/pixelmac-artscafe.png" class="mac-image">
                    </div>

                    <div class="mySlides">
                        <img src="static/images/pixelmac-balkumar.png" class="mac-image">
                    </div>

                    <div class="mySlides">
                        <img src="static/images/imac-yan.png" class="mac-image">
                    </div>

                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <br>
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span> 
                    <span class="dot" onclick="currentSlide(2)"></span> 
                    <span class="dot" onclick="currentSlide(3)"></span> 
                    <span class="dot" onclick="currentSlide(4)"></span> 
                </div>
                <br><br><br>
                <br><br><br>
                <h1>how to get started</h1>
                <p>
                    The first step is to book a meeting with us via <a href="mailto:gabriellemichaud@icloud.com?Subject=Rubin%20Design" target="_blank" class="text-link">email</a> or through <a href="https://calendly.com/rubindesign/calendar" target="_blank" class="text-link">Calendly</a>. This will allow us to get a sense of your project, provide an estimate for the amount of time required to complete it, and to learn about your unique style. This preliminatry consultation is free. Once we have agreed on a project, we will present you with three layouts that have been carefully researched to match your requirements. At this point, it will be up to you to determine the direction of the project. We want to make sure you have a say in the design throughout and are pleased with the end result. This is why all progress is continuously posted online where you can easily provide feedback on the mockup.
                </p>
                <br>
                <!-- <h1>GOOD DESIGN MATTERS</h1>
                <br><br>
                <div class="row">
                    <div class="col-md-4">
                        <img src="static/images/animation-id.png" class="animation-image">
                        <br>
                        <p style="display: inline-block; width: 300px">building a corporate identity</p>
                    </div>
                    <div class="col-md-4">
                        <img src="static/images/animation-eye.png" class="animation-image">
                        <br>
                        <p style="display: inline-block; width: 300px">communicating information in a visually compelling & inviting way</p>
                    </div>
                    <div class="col-md-4">
                        <img src="static/images/animation-pin.png" class="animation-image">
                        <br>
                        <p style="display: inline-block; width: 300px">engaging the audience whilst leaving a memorable impression</p>
                    </div>
                </div>
                <br> -->
                <hr>
                <br><br>
                <div style="max-width: 400px">
                    <img src="static/images/leaf-left.png" class="leaf-image" style="float: left;">
                    <h1 style="display: inline-block;">graphic design</h1>
                    <img src="static/images/leaf-right.png" class="leaf-image" style="float: right;">
                </div>
                <br><br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="static/images/QuartetV2.png" class="img-fluid">   
                        </div>
                        <div class="col-md-6">
                            <img src="static/images/QuartetV4.png" class="img-fluid">
                        </div>
                    </div>
                </div>
                <br>
                <p>
                    Outside of making websites, we enjoy working on graphic design projects. We have experience designing posters, album covers, and business cards, but all proposals are welcome! Our style is simple, bold, and modern.
                </p>
                <p style="margin-bottom: 10px">
                    Have a project in mind and want to get a quote?
                </p>
                <br>
                <a href="https://calendly.com/rubindesign/calendar" target="_blank" class="fancy-button">
                    &nbsp; SCHEDULE A MEETING &nbsp;
                </a>
                <br><br>
                <hr>
                <br><br>
                <footer>
                    <nav>
                        <a href="index.html">
                            <img src="static/images/logo.png" class="logo">
                            <br>
                            Rubin Web Design © 2019
                        </a>
                    </nav>
                    <br>
                </footer>
            </center>
        </div>

        <!-- Portfolio Slideshow -->
        <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}    
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";  
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";  
          dots[slideIndex-1].className += " active";
        }
        </script>
    </body>
</html>