<!DOCTYPE html>
<html lang="en">
    <head>
    	<title>Web Design</title>
        <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Sacramento&display=swap" rel="stylesheet">
    	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    	<link rel="stylesheet" type="text/css" href="static/css/main.css" />
    </head>

    <body>
        <div class="container">
            <center>
                <a href="index.html" class="black-banner effect-underline" style="margin-top: 5vw">rubin design<br>
                    <span>web design & photography</span>
                </a>
                <br><br>
                <nav>
                    <a href="photography.html" style="margin: 1vw">PHOTOS</a>
                    <a href="index.html" style="margin: 1vw">HOME</a>
                    <a href="contact.html" style="margin: 1vw">CONTACT</a>
                </nav>
                <br>
                <img src="static/images/mac-artscafe2.png" class="mac-image">
                <hr>
                <br>
                <h1>
                    Looking for a price estimate?
                </h1>
                <br>
                <a href="mailto:gabriellemichaud@icloud.com?Subject=Rubin%20Design" target="_blank" class="fancy-button">
                    &nbsp; shoot us an email &nbsp;
                </a>
                <br><br>
                <p style="display: block; max-width: 800px; margin: auto;">
                    We specialize in making affordable, easy to use, and minimalist websites. Our goals are to insure client satisfaction and audience accessibility in our web design & development. Packages include a photoshoot for website images, as well as free consultation.
                </p>
                <br>
                <hr>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <img src="static/images/expo-sping.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-3">
                        <img src="static/images/expo-artscafe.jpg" class="img-fluid">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <img src="static/images/expo-balkumar.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-3">
                        <a href="https://vanlifemedic.com/" target="_blank">
                            <div class="overlay-container">
                                <img src="static/images/expo-van.jpg" class="img-fluid">
                                <div class="overlay">
                                    <div class="overlay-text">view project</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <br>
                <hr>
                <br>
                <div class="row">
                    <div class="col-lg-3">
                        <img src="static/images/ipad-vanlife.png" style="width: 80%; margin-top: 65px">
                    </div>
                    <div class="col-lg-9">
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                        </p>
                    </div>
                </div>
                <br>
                <hr>
                <br>
                    <!-- <div style="position: relative;width: 100%; height: 900px">
                        <img src="static/images/imac.png" style="top: 0; margin: auto; z-index: 100; position: relative;" class="mac">
                        <video width="900" height="600" autoplay loop style="top: 30px; margin: auto; z-index: 50; position: relative;">
                            <source src="static/images/yan.webm" type="video/webm">
                            Your browser does not support the video tag.
                        </video>
                    </div> -->

                <img src="static/images/imac-yan.png" class="mac-image">
                <br><br>
                <p>
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </p>
                <a href="https://calendly.com/rubindesign/30min" target="_blank" class="fancy-button">
                    &nbsp; SCHEDULE A MEETING &nbsp;
                </a>
                <br><br><br><br>

                <footer>
                    <nav>
                        <a href="photography.html" style="margin: 1vw">&nbsp;&nbsp;PHOTOS</a>
                        <a href="index.html" style="margin: 1vw">HOME</a>
                        <a href="contact.html" style="margin: 1vw">CONTACT</a>
                        <br>
                            <img src="static/images/camera.png" class="logo">
                        <br>
                        &mdash;&nbsp;Rubin Design © 2019&nbsp;&mdash;
                    </nav>
                    <br>
                </footer>
            </center>
        </div>
    </body>
</html>