<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
    	<title>Photography</title>
    	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Sacramento&display=swap" rel="stylesheet">
    	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    	<link rel="stylesheet" type="text/css" href="static/css/main.css"/>
        <style type="text/css">
            .container {
                margin-right: 29%;
                max-width: 70%;
            }
            @media (max-width: 700px) {
                .container {
                    margin-right: 0;
                    max-width: 100%;
                }
            }
        </style>
    </head>

    <body>
        <center>
            <a href="index.html" class="black-banner effect-underline" style="margin-top: 5vw">rubin design<br>
                <span>web design & photography</span>
            </a>
            <br><br>
            <nav>
                <a href="design.html" style="margin: 1vw">PORTFOLIO</a>
                <a href="photography.html" style="margin: 1vw;text-decoration: underline; text-underline-position: under;">PHOTOS</a>
                <a href="#" style="margin: 1vw">BLOG</a>
                <a href="contact.html" style="margin: 1vw">CONTACT</a>
            </nav>
            <br>

            <div class="toc-container">
                <div class="toc js-toc">
                    <ul>
                        <li>
                            <a href="#intro">INTRO</a>
                        </li>
                        <li>
                            <a href="#portraits">PORTRAITS</a>
                        </li>
                        <li>
                            <a href="#lifestyle">LIFESTYLE</a>
                        </li>
                        <li>
                            <a href="#wildlife">WILDLIFE</a>
                        </li>
                        <li>
                            <a href="#hire">HIRE US</a>
                        </li>
                    </ul>
                </div>

                <div class="container">
                    <br><br><br>
                    <div style="max-width: 400px">
                        <img src="static/images/leaf-left.png" class="leaf-image" style="float: left;">
                        <h1 id="intro" style="display: inline-block;">introduction</h1>
                        <img src="static/images/leaf-right.png" class="leaf-image" style="float: right;">
                    </div>
                    <br>
                    <p>
                        We are adventure seekers and photography teachers who are passionate about capturing moments in creative ways. Aside from making websites, we specialize in portrait and commercial photography, bringing to life places and sharing the stories of people. In our digital world, clean photography plays a major role in advertisement. Be it for a restaurant, a travel agency, product, or anything in between, having professional photos for your business which convey a feeling is key. This is why we are excited to offer freelance photography included in web development packages or independently as a side-service. We invite you to view the following gallery which includes some of some of our favourite photos taken from around the world.
                    </p>
                    <hr>
                    <br>

                    <div style="max-width: 400px">
                        <img src="static/images/leaf-left.png" class="leaf-image" style="float: left;">
                        <h1 id="portraits" style="display: inline-block;">portraits</h1>
                        <img src="static/images/leaf-right.png" class="leaf-image" style="float: right;">
                    </div>
        	    	
                    <img src="static/images/nep-nina.jpg" class="main-image">

        	        <img src="static/images/nep-menuka.jpg" class="main-image">

                    <div class="row">
                        <div class="col-md-6">
                            <img src="static/images/portrait-1.jpg" class="main-image">
                        </div>
                        <div class="col-md-6">
                            <img src="static/images/portrait-3.jpg" class="main-image">
                        </div>
                    </div>

                    <img src="static/images/portrait-4.jpg" class="main-image">

                    <img src="static/images/portrait-5.jpg" class="main-image">
                    <br><br>
                    <hr>

                    <br><br><br><br>
                    <div style="max-width: 400px">
                        <img src="static/images/leaf-left.png" class="leaf-image" style="float: left;">
                        <h1 id="lifestyle" style="display: inline-block;">lifestyle</h1>
                        <img src="static/images/leaf-right.png" class="leaf-image" style="float: right;">
                    </div>
                    <img src="static/images/nyc-ferry.jpg" class="main-image">

                    <div class="row">
                        <div class="col-md-6">
        	                <img src="static/images/nep-tombstones.jpg" class="main-image">
                        </div>
                        <div class="col-md-6">
        	                <img src="static/images/nyc-chinatown.jpg" class="main-image">
                        </div>
                    </div>

                    <img src="static/images/mex-scuba-diver.jpg" class="main-image">


                    <img src="static/images/nepal.jpg" class="main-image">

                    <div class="row">
                        <div class="col-md-6">
        	                <img src="static/images/cam-silhouette.jpg" class="main-image">
                        </div>
                        <div class="col-md-6">
        	                <img src="static/images/cam-temple.jpg" class="main-image">
                        </div>
                    </div>
                    <br><br>
                    <hr>

                    <br><br><br><br>
                    <div style="max-width: 400px">
                        <img src="static/images/leaf-left.png" class="leaf-image" style="float: left;">
                        <h1 id="wildlife" style="display: inline-block;">wildlife</h1>
                        <img src="static/images/leaf-right.png" class="leaf-image" style="float: right;">
                    </div>
        	        <img src="static/images/cam-monkey.jpg" class="main-image">

                	<img src="static/images/nep-yak.jpg" class="main-image">

                    <img src="static/images/cam-cat.jpg" class="main-image">
                    <br><br><br>
                    <hr>
                    <br><br>
                    
                    <h1 id="hire">Looking for freelance photographers?</h1>
                    <br>
                    <p>
                        We have a joint 30 years photographing weddings, school portraits, and events for newspapers, as well as teaching photography at Dawson College in Québec. Though we are based in Montreal, Canada, we would be happy to travel to any location.
                    </p>
                    <p style="margin-bottom: 10px">
                        Looking to get amazing photos for your website or event?
                    </p>
                    <br><br>
                    <a href="https://calendly.com/rubindesign/30min" target="_blank" class="fancy-button">
                        &nbsp; BOOK A MEETING WITH US &nbsp;
                    </a>
                    <br><br>
                    <hr>
                    <br>
                </div>
            </div>

            <footer>
                <nav>
                    <a href="design.html" style="margin: 1vw;">PORTFOLIO</a>
                    <a href="photography.html" style="margin: 1vw;">PHOTOS</a>
                    <a href="#" style="margin: 1vw">BLOG</a>
                    <a href="contact.html" style="margin: 1vw;">CONTACT</a>
                    <br>
                    <img src="static/images/camera.png" class="logo">
                    <br>
                    <a href="index.html">&mdash;&nbsp;Rubin Design © 2019&nbsp;&mdash;</a>
                </nav>
                <br>
            </footer>
        </center>

        <script>
            function ready(fn) {
                document.addEventListener('DOMContentLoaded', fn, false)
            }

            ready(() => {
                const motionQuery = window.matchMedia('(prefers-reduced-motion)')

                const TableOfContents = {
                    container: document.querySelector('.js-toc'),
                    links: null,
                    headings: null,
                    intersectionOptions: {
                        rootMargin: '0px',
                        threshold: 1
                    },
                    previousSection: null,
                    observer: null,

                    init() {
                        this.handleObserver = this.handleObserver.bind(this)

                        this.setUpObserver()
                        this.findLinksAndHeadings()
                        this.observeSections()


                        this.links.forEach(link => {
                            link.addEventListener('click', this.handleLinkClick.bind(this))
                        })
                    },
                    

                    handleLinkClick(evt) {
                        evt.preventDefault()
                        let id = evt.target.getAttribute('href').replace('#', '')

                        let section = this.headings.find(heading => {
                            return heading.getAttribute('id') === id
                        })

                        section.setAttribute('tabindex', -1)
                        section.focus()

                        window.scroll({
                            behavior: motionQuery.matches ? 'instant' : 'smooth',
                            top: section.offsetTop - 15,
                            block: 'start'
                        })

                        if (this.container.classList.contains('is-active')) {
                            this.container.classList.remove('is-active')
                        }
                    },

                    handleObserver(entries, observer) {
                        entries.forEach(entry => {
                            let href = `#${entry.target.getAttribute('id')}`,
                                link = this.links.find(l => l.getAttribute('href') === href)
                            

                            if (entry.isIntersecting && entry.intersectionRatio >= 1) {
                                link.classList.add('is-visible')
                                this.previousSection = entry.target.getAttribute('id')
                            } else {
                                link.classList.remove('is-visible')
                            }

                            this.highlightFirstActive()
                        })
                    },

                    highlightFirstActive() {
                        let firstVisibleLink = this.container.querySelector('.is-visible')

                        this.links.forEach(link => {
                            link.classList.remove('is-active')
                        })

                        if (firstVisibleLink) {
                            firstVisibleLink.classList.add('is-active')
                        }

                        if (!firstVisibleLink && this.previousSection) {
                            this.container.querySelector(
                                `a[href="#${this.previousSection}"]`
                            ).classList.add('is-active')
                        }
                    },

                    observeSections() {
                        this.headings.forEach(heading => {
                            this.observer.observe(heading)
                        })
                    },

                    setUpObserver() {
                        this.observer = new IntersectionObserver(
                            this.handleObserver,
                            this.intersectionOptions
                        )
                    },

                    findLinksAndHeadings() {
                        this.links = [...this.container.querySelectorAll('a')]
                        this.headings = this.links.map(link => {
                            let id = link.getAttribute('href')
                            return document.querySelector(id)
                        })
                    }
                }
                TableOfContents.init()
            });
        </script>

        <script>
            const doesntLikeAnimations = window.matchMedia('(prefers-reduced-motion)').matches

            if (doesntLikeAnimations) {
                console.log('Not enabling smooth scrolling due to users browser preference.')
            } else {
                // enable smooth scrolling for all anchor links
                document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                    anchor.addEventListener('click', function (e) {
                        e.preventDefault();

                        document.querySelector(this.getAttribute('href')).scrollIntoView({
                            behavior: 'smooth'
                        });
                    });
                });
            }
        </script>
    </body>
</html>